<div class="">
  <form>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-check">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
